
section img{
  margin-top: 100px;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  box-shadow: 10px 10px 5px #124456;
}

ul{
  margin-top:90px;
  color:darkblue;
}
h3{
  margin-top: 50px;
  font-family: 'Dosis', sans-serif;
}
body{
  background-color: #f1e9c2;
}
